/* fonts */
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat', serif;
    }
    p {
        font-family: 'Georgia', serif;
    }
/* Centered text */
    .center {
        text-align: center;
    }


/* SECTIONS */
    #Logo {
        grid-area: Logo;
        background-color: #6d6d6d;
        text-align: center;
    }

    #Header {
        grid-area: Header;
        background-color: #6d6d6d;
        color: white;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }
